<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div id="app">
      <!-- <button onclick="vm.openForm()">Masukan Nama </button>
       -->
      <h1>{{ fullName}}</h1>
    </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        firstName : 'Tuanku',
        lastName : 'Imam Bonjol'
      },
      computed : {
        fullName : {
          get:function(){
            return `$(this.firstName) $(this.lastName)`
          },
          set:function(params){
            let arr = params.split(' ')
            this.firstName=arr[0]
            this.lastName=arr[1]
          }
        },
       
      },
      // methods : {
      //   openForm : function(){
      //     this.firstName=prompt("Masukan Nama Depan ")
      //     this.lastName=prompt("Masukan Belakang")
      //   }
      // }
  })
  </script>
</body>
</html>