<!DOCTYPE html>
<html>
<head>
<meta name="description" content="Vue.delete">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Hari ke-1 | Form Input Binding dan Validasi</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <h2>Daftar Matakuliah:</h2>
    <input type="text" placeholder="Masukan Data Yang dicari" v-model="cari" />
   <ul>
      <li v-for="bk in filterbook">
        {{bk}}
      </li>
    </ul>
  </div>

  <script>
    new Vue({
    el: '#app',
    data: {
        cari:"",
        book: [
          'Kalkulus Dasar',
          'Fisika Dasar',
          'Aljabar Linier elementer',
          'Aljabar Abstrak',
          'Algoritma Pemrograman'
        ],
    },
    computed: {
       filterbook:function(){
         return this.book.filter((bk)=>{
           return bk.match(this.cari)
         });
       }      
    }
  });
  </script>
</body>
</html>