<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Vue Router</title>
</head>
<body>
    <div id="app">

        <h1>Belajar Vue Router</h1>
        <router-link to ="/">Home |</router-link>
        <router-link to ="/Halaman1">Halaman1 |</router-link>
        <router-link to ="/Halaman2">Halaman2 |</router-link>
        <router-link to ="/Halaman3">Halaman3 |</router-link>
        <router-link to ="/about">About</router-link>


        <router-view></router-view>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script>
        const Home ={
            template:`
            <div>
                Ini halaman home
            </div>`
        }

        const Halaman1 ={
            template:`
            <div>
                Ini halaman pertama
            </div>`
        }

        const Halaman2 ={
            template:`
            <div>
                Ini halaman dua
            </div>`
        }

        const Halaman3 ={
            template:`
            <div>
                Ini halaman ketiga
            </div>`
        }
        const BlogComponent={
            computed :{
                blog : function(){
                    let slug = this.$route.params.slug
                    return slug.split('-').join(' ').toUpperCae()
                }
            },
            template: `
            <div> ini judul blog : {{ title }} </div>
            `
        }
        const About ={
            template:`
            <div>
                Ini halaman about yendi
            </div>`
        }
        const NotFound ={
            template:`
            <div>
                404 Not Found
            </div>`
        }        

        const routes =[
            {
                path :'/',
                component : Home,
                name : 'Home'
            },
            {
                path : '/Halaman1',
                component : Halaman1,
                name : 'Halaman1',
            },
            
            {
                path : '/Halaman2',
                component : Halaman2,
                name : 'Halaman2',
               meta : {login: true}
            },
            
            {
                path : '/Halaman3',
                component : Halaman3,
                name : 'Halaman3',
                meta : {login: true}
            },
            
            {
                path : '/about',
                component : About,
                name : 'About',
                meta : {login: true}
            },

            {
                path : '/404',
                component : NotFound,
                name : 'NotFound',
            },
            {
                path :'/blog/:slug',
                component : BlogComponent,
                name : 'Blog'
            },
            {
                path : '*',
                redirect : '/404'
            }
                
        ]

        const router = new VueRouter({
            //mode : 'history',
            routes
        })

            router.beforeEach((to, from, next)=>{
                if (to.matched.some(record=> record.meta.login)){
                    let auth = false;

                //    let user = {
                //     login : false,
                //     role : 'admin'
                //     }
                    if(!auth){
                        alert ('Halaman ini hanya di akes untuk user yang sudah login')
                    next(false)
                    }
                    else{
                        next()
                        alert('And Berhasil Masuk')
                    }
                    
                }else{
                    next()
                }
                
            })
        

        let vm = new Vue({
            el : '#app',
            router
        })

    </script>
</body>
</html>