<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplikasi Vue #7: Direktif untuk Perulangan</title>
  <!-- Menyisipkan Vuejs dari CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <!-- elemen kontainer untuk aplikasi -->
  <div id="app">
    <h2>Daftar User:</h2>
    <input type="text" placeholder="tambah pekerjaan" v-model:value="newname" />
    <button @click="addname">Add</button>
    <ul>
        <li v-for="item in users">
            <s v-if="item.done">{{ item.name }}</s>
            <b v-else>{{ item.name }}
                <button v-on:click="editname(name)">edit</button>
                <button class="btn btn-xs btn-danger" @click="deleteName(name)">Delete</button>
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        newname: "",
        users: [
            {'done': false, name: "Muhammad Iqbal Mubarok"},
            {'done': false, name: "Ruby Purwanti"},
            {'done': false, name: "Faqih Muhammad"},
        ],
        name: { name: ''},
      },
      methods: {
          addname: function(){
              this.users.push({'done': false, 'name': this.newname});
              this.newname = "";
          },
          editname: function(){
              this.users.push({'done': false, 'name': this.newname});
              this.newname = "";
          },

          deleteName: function(name) {
            alert(`Hei Apakh Anda Yakin Menghapus`);
                // this.names.splice(this.name);
                this.names.splice(this.names.indexOf(name), 1);
        },
      }
    })
  </script>
</body>

</html>